<launch> 
  <!-- excavator_motion_control launch file -->
  <include file="$(find motion_control)/launch/excavator_motion_control.launch"/>

  <!-- excavator_driving_tools launch file -->
  <include file="$(find driving_tools)/launch/excavator_driving_tools.launch"/>

  <group ns="small_excavator_1">

    <node pkg="driving_control"
          name="fws_driving"
          type="fws_driving"
          output="screen">
      <rosparam
        command="load"
        file="$(find driving_control)/config/excavator_driving_control.yaml"
        subst_value="true"
      />
    </node>
    
  </group>

</launch>