<launch>

  <!-- load the commander -->
  <node name="cmd_joints" pkg="motion_control" type="cmd_joints"
	respawn="false" output="screen" ns="/excavator_1"/>

  <!-- load the commander -->
  <node name="cmd_motors" pkg="motion_control" type="cmd_motors"
	respawn="false" output="screen" ns="/excavator_1"/>

  <!-- load the commander -->
  <node name="cmd_steering" pkg="motion_control" type="cmd_motors"
	respawn="false" output="screen" ns="/excavator_1"/>
</launch>