<launch>
  <!-- excavator_motion_control launch file -->
  <include file="$(find motion_control)/launch/excavator_motion_control.launch"/>

  <!-- excavator_driving_tools launch file -->
  <include file="$(find driving_tools)/launch/excavator_driving_tools.launch"/>

  <arg name="robot_namespace" default="/excavator_1"/>
        
	<remap from="/toggle_light" to="$(arg robot_namespace)/toggle_light"/>
  <node name="teleop_modes_key" 
	pkg="teleop_modes" 
	type="teleop_modes_key"
	respawn="false" 
	output="screen" 
	ns="$(arg robot_namespace)"/>

</launch>




