<launch>
  <!-- hauler_motion_control launch file -->
  <include file="$(find motion_control)/launch/hauler_motion_control.launch"/>

  <!-- hauler_driving_tools launch file -->
  <include file="$(find driving_tools)/launch/hauler_driving_tools.launch"/>

  <group ns="small_hauler_1">
    <node name="teleop_modes_key" 
      pkg="teleop_modes" 
      type="teleop_modes_key"
      respawn="false" 
      output="screen"/>
  </group>

</launch>




