<launch>
  <!-- scout_motion_control launch file -->
  <include file="$(find motion_control)/launch/scout_motion_control.launch"/>

  <!-- scout_driving_tools launch file -->
  <include file="$(find driving_tools)/launch/scout_driving_tools.launch"/>

  <group ns="scout_1">

	  <remap from="/toggle_light" to="toggle_light"/>
    
    <node pkg="teleop_modes"
          name="teleop_modes"
          type="teleop_modes_key"
          output="screen">
    </node>
    
  </group>

</launch>




